/***************Tag selectors*********************/
body {
  background-color: #cdffeb;
}

hr {
  border-style: none;
  border-top: 5px dotted #bbbbbb;
  width: 10%;
}

img {
  height: 150px;
  width: 150px;
}

h1 {
  color: #837dff;
}

h3 {
  color: #837dff;
}
/************ CLass Selectors ********************/
.circular {
  border-radius: 100%;
}
